appdirs==1.4.4
attrs==22.2.0
cattrs==22.2.0
certifi==2022.12.7
charset-normalizer==2.0.12
exceptiongroup==1.1.0
idna==3.4
lxml==4.9.2
markdown-it-py==2.1.0
mdurl==0.1.2
numpy==1.24.1
pandas==1.5.3
pushbullet-python==1.7.0
Pygments==2.14.0
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2022.7.1
requests==2.26.0
requests-cache==0.9.8
rich==13.3.0
six==1.16.0
sqlitedict==2.1.0
url-normalize==1.4.3
urllib3==1.26.14
